a, div, i, span {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.select, .selectNext {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 45px;
    border-radius: 6px;
    line-height: 45px;
    font-size: 14px;
    color: #666666;
    padding-left: 6px;
}
.xl-icon, .xl-iconNext {
    position: absolute;
    width: 18px;
    height: 10px;
    background: url(../img/down_icon@2x.png) center/cover;
    right: 25px;
    top: 15px;
    opacity: 0;
}
.select:hover, .selectNext:hover {
    background-color: #f7f7f7;
}
.sq-icon {
    transform: rotate(180deg);
}
/*--下拉选择列表样式--*/
.selectList, .selectListNext {
    z-index: 999;
    display: none;
    width: 380px;
    border: 1px solid #CCCCCC;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 38px;
    left: 0;
    box-sizing: border-box;
    background: white;
}
.listA-all{
    max-height: 236px;
    overflow-y: auto;
}
.listA, .listANext {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: FZLTZHUNHK--GBK1-0;
    color: rgba(51,51,51,1);
    background: white;
    display: block;
    line-height: 40px;
}
.listA:hover, .listANext:hover {
    background-color: #F0F0F0;
    color: #333333;
}
.listA:first-child, .listANext:first-child {
    border-radius: 6px 6px 0 0;
}
.listA:last-child, .listANext:last-child {
    border-radius: 0 0 6px 6px;
}
/*-------------------------------------------------------------------------------------------------*/
.frameTriangle {
    position: absolute;
    width: 18px;
    height: 10px;
    background: url(../img/down_icon@2x.png) center/cover;
    right: 25px;
    top: 15px;
}
.dropDown {
    position: relative;
}
.selectListNext {
    top: 58px;
}