<div class="dialogLogin" onclick="closeLogin(this)">
    <div class="logindiv">
        <span>欢迎登录八斗猫</span>
        <form action="">
            <div>
                <img src="../../../public/img/index_icon_phone_normal@2x.png" alt="">
                <input class="form_phone" placeholder="请输入手机号" type="text">
                <span>+86</span>
            </div>
            <div>
                <img src="../../../public/img/index_icon_safe_normal@2x.png" alt="">
                <input class="form_safe" placeholder="请输入验证码" type="text">
                <div class="form_safe_num">发送验证码</div>
            </div>
            <span>请输入有效手机号</span>
            <a href="javascript:void(0)" class="login">登录</a>
        </form>
    </div>
</div>