<div class="sidebar">
    <ul>
        <li><a class="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'] == base_url('bdm/faq')?'active':'' ?>" href="<?php echo base_url('bdm/faq')?>">八斗猫介绍</a></li>
        <li><a class="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'] == base_url('bdm/user')?'active':'' ?>" href="<?php echo base_url('bdm/user')?>">我是求职者</a></li>
        <li><a class="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'] == base_url('bdm/headhunting')?'active':'' ?>" href="<?php echo base_url('bdm/headhunting')?>">我是猎头</a></li>
        <li><a class="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'] == base_url('bdm/protocol')?'active':'' ?>" href="<?php echo base_url('bdm/protocol')?>">八斗猫用户协议</a></li>
    </ul>
</div>