<div class="footer">
    <div class="footer_top">
        <img src="../../../public/img/index_fot_logo@2x.png" alt="">
        <div>
            <img src="../../../public/img/index_fot_phone@2x.png" alt="">
            010-85863589
        </div>
    </div>
    <div class="footer_bottom">
        <div>
            <div>公司地址：北京市朝阳区阜通东大街1号院3号楼15层2单元121807</div>
            <div>商务合作：business@bdm.ai</div>
            <div>市场合作：market@bdm.ai</div>
            <div>人才招聘：hr@bdm.ai</div>
        </div>
        <div>
            <img src="../../../public/img/wechat.jpg" alt="">
            <p>扫码关注公众号</p>
        </div>
    </div>
</div>
