<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>八斗猫官网</title>
    <link href="../../../public/css/css.css" rel="stylesheet">
    <link href="../../../public/css/faq.css" rel="stylesheet">
</head>
<body>
<?php require 'login_nav.html';?>
<div class="faq_div">
    <?php require 'faqnav.html';?>
    <div class="sidebar_content">
        <div class="sidebar_title">
            猎头如何设置自己的服务内容？
        </div>
        <p>
            猎头可以根据自己的专业、经验和兴趣选择服务内容，在综合考虑平台上同类猎头情况后，选择最具有自己特色、优势的服务开设。新上线的猎头一般建议开设1-2个服务内容，这样更易获得求职者好评。<br>

            <br>

        </p>
        <div class="sidebar_title">
            猎头可以为服务定价吗？
        </div>
        <p>
            价格高低并不代表猎头资历高低，而是求职者对猎头付出帮助与劳动的感谢。<br>
            <br>
            猎头需要在八斗猫整体服务单价水准下自行设置话题价格。目前，八斗猫话题客单价平均500元左右，求职者普遍能接受的价格在 300-1500 元/次（小时）之间。因此，建议您将服务价格设定在这一区间内更有利于获得预约机会。<br>
        </p>
        <div class="sidebar_title">
            猎头是否需要备课？
        </div>
        <p>
            猎头并不需要像准备一场讲座或一门课程那样进行系统的备课，但是，由于这是一对一的、围绕求职者个人具体问题进行的服务或交流，猎头要在有限的时间内为求职者答疑解惑、出谋划策，因此非常有必要在服务前针对求职者的问题进行预先准备，以便服务和交流更加有的放矢、更能帮到对方。<br>
        </p>
        <div class="sidebar_title">
            支付流程是怎样的？
        </div>
        <p>
            1.在您和求职者确认服务结束后，八斗猫会把服务费转到您的余额；<br>
            <br>
            2.您可以手动把余额内的钱提现到支付宝账户。
        </p>
        <div class="sidebar_title">
            猎头能否选择求职者？
        </div>
        <p>
            猎头可以根据自己的意愿选择求职者。求职者在提交申请时会写明自己的问题与个人情况，以帮助猎头进行预判。<br>
        </p>
        <div class="sidebar_title">
            猎头能否取消预约？
        </div>
       <p>
           猎头在整个服务过程中，可以与求职者协商，达成一致后，可让求职者取消预约或者申请退款，如猎头在服务中要求取消预约，信用记录受损。<br>
       </p>
        <div class="sidebar_title">
            猎头可以变更预约时间吗？
        </div>
       <p>
           可以，猎头可以在服务前24小时以上通知求职者，双方协商一致，可以变更服务的时间。 若求职者不同意变更时间，可以要求取消预约并获得退款。<br>
       </p>
        <div class="sidebar_title">
            服务后求职者不满意怎么办？
        </div>
        <p>
            如果求职者对服务不满意，我们会向求职者和猎头双方了解具体情况；如果存在问题，我们会给求职者退款。<br>
        </p>
        <div class="sidebar_title">
            猎头预约次数是否有限制？
        </div>
       <p>
           猎头可以自己决定接受预约的数量。<br>
       </p>
        <div class="sidebar_title">
            如何申请成为猎头？
        </div>
        <p>
            1. 点击个人中心菜单里的“申请成为职业顾问”，按照提示填写职业资料、服务内容等信息；<br>
            <br>
            2. 一般3个工作日内会收到审核反馈。<br>
        </p>
        <div class="sidebar_title">
            猎头能修改自己的主页吗？
        </div>
        <p>
            在八斗猫APP 个人中心菜单中点击“服务中心”——“编辑职业资料”、“编辑服务内容”，修改自己的服务内容、简介等信息；但需要经过八斗猫审核后，修改才能生效。<br>
        </p>
    </div>
</div>
<?php require 'footer.html';?>
<p>Copyright © 2018 , All Rights Reserved</p>
<?php require 'component.html';?>
</body>
<script type="text/javascript" src="../../../public/js/jquery.js"></script>
<script type="text/javascript" src="../../../public/js/js.js"></script>
<script type="text/javascript" src="../../../public/js/login.js"></script>
</html>