<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>八斗猫官网</title>
    <link href="../../../public/css/css.css" rel="stylesheet">
    <link href="../../../public/css/faq.css" rel="stylesheet">
</head>
<body>
<?php require 'login_nav.html';?>
<div class="faq_div">
    <?php require 'faqnav.html';?>
    <div class="sidebar_content">
        <div class="sidebar_title">
            如何使用「八斗猫」？
        </div>
        <p>
            注册：求职者验证自己的手机号码，并填写个人信息<br>

            <br>
            发起预约：根据自己需要解决的问题找到适合的猎头，点击“立即预约”按钮发出申请，并在申请中写明自己的问题和个人的相关情况。清晰明确的问题描述和个人介绍将有助于猎头判断自己能否帮到你<br>

            <br>
            等待猎头确认：猎头收到求职者的预约申请后，可能会与求职者做进一步简单交流，并最终决定是否接受<br>
            <br>

            求职者付款：猎头确定接受服务预约后，求职者支付费用，并开通私信与电话，可与猎头直接沟通<br>

            <br>

            服务完成后，猎头会标注完成服务，如求职者认可猎头服务，须确认服务结束，并对猎头做出服务评价。<br>
        </p>
        <div class="sidebar_title">
            求职者能否取消预约？
        </div>
        <p>
            可以，求职者在付款前可取消预约，如求职者已经付款，同时服务尚未完成时，可申请退款。<br>
            <br>
            如求职者不提前与猎头沟通，也不联系「八斗猫」客服，直接爽约，将不能获得退款，「八斗猫」还会在求职者的信誉历史中做记录，影响求职者未来预约其他猎头。<br>
        </p>
        <div class="sidebar_title">
            猎头会拒绝求职者的预约吗？
        </div>
        <p>
            猎头可以拒绝求职者的预约。猎头的时间和精力有限，因此会根据求职者的问题选择是否接受服务。<br>
            <br>
            请求职者在申请预约时，尽可能清晰、具体地描述自己的问题，以及个人背景情况，这会提高预约成功的几率。<br>
        </p>
        <div class="sidebar_title">
            服务过程中可以录音录像么？
        </div>
        <p>
            在服务的过程中，任一方如需录音、录像或采取其他方式记录预约经过，必须在取得对方同意后方可进行。（任何未经对方许可的记录行为，不能作为后期发起投诉的证据证明，且不知情方以及八斗猫平台保留对侵权方追究法律责任的权利。）<br>
        </p>

    </div>
</div>
<?php require 'footer.html';?>

<p>Copyright © 2018 , All Rights Reserved</p>
<?php require 'component.html';?>
</body>
<script type="text/javascript" src="../../../public/js/jquery.js"></script>
<script type="text/javascript" src="../../../public/js/js.js"></script>
<script type="text/javascript" src="../../../public/js/login.js"></script>
</html>
